$dayBackground: #FFFFFF;
$nightBackground: #181818;
$dayText: #000000;
$nightText: #EEEEEE;
$highlight: #ee0b88;
$border: #E5E5E5;
$darkerBorder: #BBBBBB;
$nightBorder: #666666;
$hover: #E8E8E8; 
$hoverNight: #383838;
$dimText: #888888;
$buttonBackground: #E0E0E0;
$buttonText: #333333;
$buttonNightBackground: #444444;

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    cursor: pointer;
    text-decoration: none !important;

    &:hover{
        background-color: $hover;
    
        .name{
            color: $highlight !important;
        }
    }
}

.name{
    font-weight: 500;
    font-size: 14pt;
    color: $dayText;
}

.text{
    color: $dayText;
}

.night.wrapper:hover{
    background-color: $hoverNight;
}

.night{
    .name{
        color: $dimText;
    }

    .text{
        color: $nightText;
    }
}