.wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.bottomPrimary{
    width: calc(100% - 360px);
    height: 100%;
    padding: 10px;
    padding-right: 0;
}

.bottomSecondary{
    width: 360px;
    height: 100%;
    padding: 10px;
}