$dayBackground: #FFFFFF;
$nightBackground: #181818;
$dayText: #000000;
$nightText: #EEEEEE;
$highlight: #ee0b88;
$border: #E5E5E5;
$darkerBorder: #BBBBBB;
$nightBorder: #666666;
$dimText: #888888;

.wrapper{
    width: 100%;
    height: 100%;
    margin: 0;
}

.musicList{
    border: 1px solid $border;
    background-color: $dayBackground;
    color: $dayText;
    transition: background-color 0.3s linear, color 0.3s linear, border-color 0.3s linear;
    min-height: calc(100vh - 120px - 30px);
    margin: 10px;
}

.musicControls{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    margin: 0;
    z-index: 10;
}

.night .musicList{
    border-color: $nightBorder;
    background-color: $nightBackground;
    color: $nightText;
    transition: background-color 0.3s linear, color 0.3s linear, border-color 0.3s linear;
}