.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #888888;
}

.noticeIcon{
    font-size: 64pt !important;
    margin-bottom: 10px;
}

.noticeHeader{
    font-weight: 700;
    font-size: 16pt;
    margin-bottom: 5px;
}