.mainContainer{
    width: 100%;
    height: 100%;
    position: relative;
}

.window{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.itemsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    transition: all 0.5s linear;
    background-color: #000000;
}

.mainContainer .sliderControl{
    display: none;
    position: absolute;
    top: 50%;
    font-size: 3rem !important;
    color: #ffffff65;
    cursor: pointer;
    z-index: 10;
}

.mainContainer:hover .sliderControl{
    display: block;
}

.mainContainer:hover .sliderControl:hover{
    color: #ee0b88;
    border-radius: 50%;
    background-color: #ffffff65;
}

.left{
    left: 10px;
}

.right{
    right: 10px;
}