$dayBackground: #FFFFFF;
$nightBackground: #181818;
$dayText: #000000;
$nightText: #EEEEEE;
$highlight: #EE0B88;
$border: #E5E5E5;
$darkerBorder: #BBBBBB;
$nightBorder: #666666;
$hover: #E8E8E8; 
$hoverNight: #383838;
$dimText: #888888;
$buttonBackground: #E0E0E0;
$buttonText: #333333;
$buttonNightBackground: #444444;
$buttonDisabled: #DDDDDD;
$warning: #EB0000;

.wrapper{
    margin: 10px 0;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Noto Sans Display', sans-serif;
}

.warning{
    font-weight: 500;
    font-size: 11pt;
    color: $highlight;
}

.input{
    margin: 5px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &Header{
        font-size: 13pt;
        font-weight: 300;
    }

    &Caption{
        font-size: 11pt;
        font-weight: 400;
    }

    &Style{
        margin: 10px 0;
        border: 0;
        outline: 0;
        border-bottom: 1px solid $darkerBorder;
        padding: 5px 15px;
        width: 100%;
        font-family: 'Noto Sans Display', sans-serif;
        font-weight: 300;
        font-size: 12pt;
        transition: background-color 0.3s linear, color 0.3s linear, border-color 0.3s linear;

        &:focus{
            border-bottom: 1px solid $highlight;

            &::placeholder{
                color: $highlight;
            }
        }

        &::placeholder{
            font-family: 'Noto Sans Display', sans-serif;
            color: $dimText;
            font-size: 12pt;
            font-style: italic;
            font-weight: 300;
            letter-spacing: 1px;
        }
    }
}

.errorStyle{
    border-bottom: 1px solid  $warning;
}

.messageStyle{
    font-size: 10pt;
    font-style: italic;
    font-weight: 500;
    color: $warning;
}

.button{
    font-weight: 100;
    font-size: 12pt;
    padding: 12px 0;
    width: 150px;
    cursor: pointer;
    text-align: center;
    border: 0;
    outline: 0;
    color: $buttonText;
    background-color: $buttonBackground;

    &:hover{
        color: $dayBackground;
        background-color: $highlight;
    }

    &:disabled{
        color: $buttonDisabled;
        background-color: $dimText;
        cursor: default;
    }
}

.night .inputStyle{
    border-bottom: 1px solid $nightBorder;
    color: $nightText;
    background-color: $nightBackground;
    transition: background-color 0.3s linear, color 0.3s linear, border-color 0.3s linear;

    &:focus{
        border-bottom: 1px solid $highlight;

        &::placeholder{
            color: $highlight;
        }
    }
}

.night .button{
    color: $nightText;
    background-color: $buttonNightBackground;

    &:hover{
        color: $dayBackground;
        background-color: $highlight;
    }

    &:disabled{
        color: $buttonNightBackground;
        background-color: $dimText;
        cursor: default;
    }
}