

.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans Display', sans-serif;
    margin-bottom: 10px;
}

.infoTop{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E5E5E5;
    padding: 5px 10px;
}

.logo, .controlsBlock{
    display: flex;
    align-items: center;
}

.logoIcon{
    font-size: 24px !important;
    color: #ee0b88;
    margin-right: 10px;
}

.logoCaption{
    font-weight: 400;
    color: #ee0b88;
}

.infoBottom{
    border: 1px solid #E5E5E5;
    background-color: #FFFFFF;
    padding: 10px;
}

.text{
    font-size: 12pt;
}

.username{
    cursor: pointer;
    color: #000000;
    text-decoration: none;
    font-weight: 700;
}

.username:hover{
    color: #ee0b88;
}