$warning: #eb0000;

.wrapper{
    margin-top: 10px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans Display', sans-serif;
}

.header{
    font-weight: 300;
    font-size: 20pt;
    margin-bottom: 10px;
}

.caption{
    margin-bottom: 10px;
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 300;
    font-size: 11pt;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    & > button{
        width: 100%;
    }
}

.inputBlock{
    width: 100%;
    margin-bottom: 20px;
}

.errorMessage{
    font-size: 10pt;
    font-style: italic;
    font-weight: 500;
    color: $warning;
}