.wrapper{
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans Display', sans-serif;
    width: 100%;
}

.pageMain{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}