$dayBackground: #FFFFFF;
$nightBackground: #181818;
$dayText: #000000;
$nightText: #EEEEEE;
$highlight: #ee0b88;
$border: #BBBBBB;
$nightBorder: #666666;

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: $dayBackground;
    color: $dayText;
    border-bottom: 1px solid $border;
    padding: 0 20px;
    z-index: 999;
    font-family: 'Noto Sans Display', sans-serif;
    transition: background-color 0.3s linear, color 0.3s linear;

    &Container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 1400px;
    }

    &Logo{
        font-weight: 200;
        min-width: 225px;
        font-size: 20pt;
        letter-spacing: 1px;
        text-decoration: none;
        color: $dayText;
        cursor: pointer;

        &:hover{
            color: $highlight;
        }
    }

    &Controls{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
}

.links{
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.link{
    margin: 0 15px;
    cursor: pointer;
    text-decoration: none;
    color: $dayText;

    &:hover{
        color: $highlight;
    }
}

.user{
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;

    &Avatar{
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        border: 3px solid $border;
        cursor: pointer;

        &:hover{
            border-color: $highlight;
        }
    }
}

.night{
    background-color: $nightBackground !important;
    color: $nightText !important;
    border-color: $nightBorder;
    transition: background-color 0.3s linear, color 0.3s linear;
    
    .link, .navbarLogo{
        color: $nightText;

        &:hover{
            color: $highlight;
        }
    }

    .userAvatar{
        border-color: $nightBorder;

        &:hover{
            border-color: $highlight;
        }
    }
}

@media only screen and (max-width: 768px) {
    .links{
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .navbar{
        height: 50px;
        padding: 0 10px;

        &Logo{
            font-size: 18pt;
        }
    }
}