$dayBackground: #FFFFFF;
$nightBackground: #181818;
$dayText: #000000;
$nightText: #EEEEEE;
$highlight: #ee0b88;
$border: #E5E5E5;
$darkerBorder: #BBBBBB;
$nightBorder: #666666;
$hover: #E8E8E8; 
$hoverNight: #383838;
$placeholderText: #888888;
$buttonBackground: #E0E0E0;
$buttonText: #333333;
$buttonNightBackground: #444444;


.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans Display', sans-serif;
    padding: 15px;
    background-color: $dayBackground;
    border: 1px solid $border;
    transition: background-color 0.3s linear, color 0.3s linear, border-color 0.3s linear;
}

.share{
    display: flex;
    flex-direction: column;

    &Top{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid $darkerBorder;
        transition: border-color 0.3s linear;
    }

    &Avatar{
        width: 64px;
        height: 64px;
        object-fit: cover;
        border: 3px solid $darkerBorder;
        color: $dayBackground;
        border-radius: 50%;
        margin-right: 10px;
        transition: border-color 0.3s linear;
    }
}

.shareTextarea{
    font-family: 'Noto Sans Display', sans-serif;
    width: calc(100% - 74px);
    height: 100px;
    border: 0;
    outline: 0;
    color: $dayText;
    background-color: $dayBackground;
    font-size: 12pt;
    resize: none;
    transition: background-color 0.3s linear, color 0.3s linear;

    &::placeholder{
        font-family: 'Noto Sans Display', sans-serif;
        color: $placeholderText;
        font-size: 12pt;
        font-style: italic;
        font-weight: 300;
        letter-spacing: 1px;
    }

    &:focus::placeholder{
        color: $highlight;
    }
}

.shareBottom, .shareOptions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.shareOptions{
    justify-content: start;
}

.option{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;

    &Icon{
        font-size: 18pt !important;
        margin-right: 5px;
    }

    &Text{
        font-size: 13pt;
        font-weight: 400;
    }

    &:hover{
        color: $highlight;
    }
}


.button{
    font-weight: 100;
    margin-left: 10px;
    font-size: 12pt;
    padding: 12px 0;
    width: 120px;
    cursor: pointer;
    text-align: center;
    border: 0;
    outline: 0;
    color: $buttonText;
    background-color: $buttonBackground;

    &:hover{
        color: $dayBackground;
        background-color: $highlight;
    }
}

.shareAdditional{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
}

.hidableField{
    width: 100%;
    border: 0;
    outline: 0;
    background-color: $dayBackground;
    border-bottom: 1px solid $darkerBorder;
    padding: 5px;
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 12pt;
    transition: background-color 0.3s linear, color 0.3s linear;

    &::placeholder{
        font-family: 'Noto Sans Display', sans-serif;
        color: $placeholderText;
        font-size: 12pt;
        font-style: italic;
        font-weight: 300;
        letter-spacing: 1px;
    }

    &:focus{
        border-bottom: 1px solid $highlight; 

        &::placeholder{
            color: $highlight;
        }
    }
}

.night{
    background-color: $nightBackground !important;
    color: $placeholderText !important;
    transition: background-color 0.3s linear, color 0.3s linear, border-color 0.3s linear;
}

.night.wrapper{
    border: 1px solid $nightBorder;
}

.night .share{
    &Avatar{
        border-color: $nightBorder;
        transition: border-color 0.3s linear;
    }

    &Top{
        border-bottom: 1px solid $nightBorder;
        transition: border-color 0.3s linear;
    }
}

.night .shareTextarea{
    color: $nightText;
    background-color: $nightBackground;
    transition: background-color 0.3s linear, color 0.3s linear;
}

.night .button{
    color: $nightText;
    background-color: $buttonNightBackground;

    &:hover{
        color: $dayBackground;
        background-color: $highlight;
    }
}

.night .hidableField{
    background-color: $nightBackground;
    border-color: $nightBorder;
    transition: background-color 0.3s linear, color 0.3s linear;
}