.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans Display', sans-serif;
}

.input{
    margin: 5px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &Header{
        font-size: 13pt;
        font-weight: 300;
    }
}

.bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.inlineControls{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}