$dayBackground: #FFFFFF;
$nightBackground: #181818;
$dayText: #000000;
$nightText: #EEEEEE;
$highlight: #EE0B88;
$border: #E5E5E5;
$darkerBorder: #BBBBBB;
$nightBorder: #666666;
$hover: #E8E8E8; 
$hoverNight: #383838;
$dimText: #888888;

.status, .statusMessage{
    font-size: 12pt;
    font-weight: 300;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.statusIcon{
    font-size: 12pt !important;
    margin-left: 15px;
    color: $dimText;
}

.statusMessage{
    cursor: pointer;

    &:hover .statusIcon{
        color: $highlight;
    }
}

.input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid $darkerBorder;
    padding: 3px 15px;
    width: 500px;
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 300;
    font-size: 12pt;
    transition: background-color 0.3s linear, color 0.3s linear, border-color 0.3s linear;

    &:focus{
        border-bottom: 1px solid $highlight;

        &::placeholder{
            color: $highlight;
        }
    }

    &::placeholder{
        font-family: 'Noto Sans Display', sans-serif;
        color: $dimText;
        font-size: 12pt;
        font-style: italic;
        font-weight: 300;
        letter-spacing: 1px;
    }
}

.night.input{
    border-bottom: 1px solid $nightBorder;
    color: $nightText;
    background-color: $nightBackground;
    transition: background-color 0.3s linear, color 0.3s linear, border-color 0.3s linear;

    &:focus{
        border-bottom: 1px solid $highlight;

        &::placeholder{
            color: $highlight;
        }
    }
}