$highlight: #ee0b88;

.wrapper{
    margin: 10px 0;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Noto Sans Display', sans-serif;
}

.warning{
    font-weight: 500;
    font-size: 11pt;
    color: $highlight;
}

.input{
    margin: 5px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inputHeader{
    font-size: 13pt;
    font-weight: 300;
}

.inputCaption{
    font-size: 11pt;
    font-weight: 400;
}
