$dayBackground: #FFFFFF;
$nightBackground: #181818;
$dayText: #000000;
$nightText: #EEEEEE;
$highlight: #EE0B88;
$border: #E5E5E5;
$darkerBorder: #BBBBBB;
$nightBorder: #666666;
$hover: #E8E8E8; 
$hoverNight: #383838;
$dimText: #888888;

.wrapper{
    margin: 10px 0;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Noto Sans Display', sans-serif;
}

.header{
    font-size: 14pt;
    font-weight: 300;
}

.warning{
    font-weight: 500;
    font-size: 11pt;
    color: $highlight;
}

.input{
    margin: 5px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &Header{
        font-size: 13pt;
        font-weight: 300;
    }

    &Caption{
        font-size: 11pt;
        font-weight: 400;
    }
}
