$dayBackground: #FFFFFF;
$nightBackground: #181818;
$dayText: #000000;
$nightText: #EEEEEE;
$highlight: #EE0B88;
$border: #E5E5E5;
$darkerBorder: #BBBBBB;
$nightBorder: #666666;
$hover: #E8E8E8; 
$hoverNight: #383838;
$dimText: #888888;
$buttonBackground: #E0E0E0;
$buttonText: #333333;
$buttonNightBackground: #444444;
$buttonDisabled: #DDDDDD;

.wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid $border;
    background-color: $dayBackground;
    color: $dayText;
    transition: background-color 0.3s linear, color 0.3s linear, border-color 0.3s linear;

    &:first-child{
        margin-top: 0;
    }

    &:last-child{
        margin-bottom: 0;
    }

    &:only-child{
        margin: 0;
    }
}

.avatar{
    width: 180px;
    height: 180px;
    object-fit: cover;

    &Container{
        width: 180px;
        height: 100%;
        display: flex;
        align-items: flex-start;
        margin-right: 20px;
    }
    
}

.infoContainer{
    font-family: 'Noto Sans Display', sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.profileInfo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.username{
    font-weight: 600;
    font-size: 14.5pt;
    margin-bottom: 5px;
    cursor: pointer;
    text-decoration: none;
    color: $dayText;

    &:hover{
        color: $highlight;
    }
}

.topic{
    color: $dimText;
    font-weight: 400;
    font-size: 11.5pt;
    margin-bottom: 5px;
}

.infoString{
    font-size: 10.5pt;
    font-weight: 400;
    margin-right: 10px;

    &:only-child{
        margin-right: 0;
    }
}

.profileLocation{
    display: flex;
    width: 100%;
    margin-bottom: 5px;
}

.controls{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button{
    font-weight: 100;
    font-size: 12pt;
    padding: 12px 0;
    width: 150px;
    margin-bottom: 10px;
    cursor: pointer;
    text-align: center;
    border: 0;
    outline: 0;
    color: $buttonText;
    background-color: $buttonBackground;

    &:last-child{
        margin-bottom: 0;
    }

    &:hover{
        color: $dayBackground;
        background-color: $highlight;
    }

    &:disabled{
        color: $buttonDisabled;
        background-color: $dimText;
        cursor: default;
    }
}

.night.wrapper{
    border-color: $nightBorder;
    background-color: $nightBackground;
    color: $nightText;
    transition: background-color 0.3s linear, color 0.3s linear, border-color 0.3s linear;
}

.night .username{
    color: $nightText;

    &:hover{
        color: $highlight;
    }
}

.night .button{
    color: $nightText;
    background-color: $buttonNightBackground;

    &:hover{
        color: $dayBackground;
        background-color: $highlight;
    }

    &:disabled{
        color: $buttonNightBackground;
        background-color: $dimText;
        cursor: default;
    }
}